---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lette-proxy
  labels:
    app: lette-proxy
    app.kubernetes.io/name: lette-proxy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: lette-proxy
  template:
    metadata:
      labels:
        app: lette-proxy
    spec:
      containers:
        - name: lette-proxy
          image: registry.asdf.ooo/lette-proxy:latest
          imagePullPolicy: Always
          ports:
            - name: smtp
              containerPort: 1587
              protocol: TCP
            - name: smtps
              containerPort: 1465
              protocol: TCP
            - name: imap
              containerPort: 1143
              protocol: TCP
            - name: imaps
              containerPort: 1993
              protocol: TCP
          env:
            - name: INSECURE
              value: "true"
            - name: SMTP_LOCAL_NAME
              value: smtp.lette.io
            - name: ACME_DOMAIN
              value: "*.pxy.lette.io"
            - name: ACME_EMAIL
              value: hello@lette.io
            - name: CLIENT_ID
              value: f6d655bc-5186-4027-b610-e3b59ae643fa
            - name: KEYPAIR
              value: /etc/lette/keypair/pair.pem
            - name: NAMEDOTCOM_SERVER
              value: https://api.name.com
            - name: NAMEDOTCOM_USERNAME
              value: rbicker
            - name: NAMEDOTCOM_TOKEN
              valueFrom:
                secretKeyRef:
                  name: namedotcom-token
                  key: token
            - name: SUPABASE_URL
              value: https://vusczhoczwietdbyhzom.supabase.co
            - name: SUPABASE_KEY
              valueFrom:
                secretKeyRef:
                  name: supabase-key
                  key: key
            - name: REDIS_HOST
              value: lette-redis-redis-ha.lette-redis.svc.cluster.local:6379
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: password
            - name: REDIS_PORT
          volumeMounts:
            - name: client-keypair
              mountPath: /etc/lette/keypair
              readOnly: true
      volumes:
        - name: client-keypair
          secret:
            secretName: client-keypair
            items:
              - key: pair.pem
                path: pair.pem
            defaultMode: 0400