apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pb-data
  labels:
    app: lette-backend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  volumeMode: Filesystem