apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: node-pod-count
  namespace: monitoring
  labels:
    prometheus: k8s
spec:
  groups:
    - name: node-pod-count
      interval: 10s
      rules:
        - alert: Kubernetes (k8s) Node Pod Count
          expr:  sum by (host_ip) (kube_pod_info * on(namespace, pod) group_left() (kube_pod_status_phase{phase="Running"} == 1)) > 110
          for: 0s
          labels:
            arcade_monitoring: "yes"
          annotations:
            icinga2_name: "Kubernetes (k8s) Node {{$labels.node}} Pod Count"
            icinga2_perfdata_status: "{{$value}};110"
            icinga2_severity: "warning"
            icinga2_vars: |
                sla: 2
            description: "This alert fires when a Kubernetes (k8s) node is experiencing high pod count. By best practices, a node should not exceed 110 pods."
            prometheus_expression: 'sum by (host_ip) (kube_pod_info * on(namespace, pod) group_left() (kube_pod_status_phase{phase="Running"} == 1)) > 110'